@model Medinova.Models.Banner
<div id="banner" class="container-fluid bg-primary py-5 mb-5 hero-header"
     style="background: linear-gradient(rgba(29, 42, 77, .8), rgba(29, 42, 77, .8)), url('@Model.ImageUrl') center center no-repeat; background-size: cover;">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5"
                    style="border-color: rgba(256, 256, 256, .3) !important;">
                    @Model.Title
                </h5>
                <h1 class="display-1 text-white mb-md-4">@Model.Description</h1> 
               
            </div>
        </div>
    </div>
</div>